.wave {
    cursor: default;
    position: relative;
    overflow: hidden;
    background: var(--color-gradient-header);
    max-width: 100%;
    height: auto;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Merienda', cursive;
    position: relative;
    z-index: 1;
}

.content h2 {
    margin: 0;
    padding: 0;
    font-size: 4em;
    position: absolute;
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px var(--color-dark-blue);
}

.content h2:nth-child(2) {
    color: rgb(3, 68, 128, 0.8);
    animation: animate 14s ease-in-out infinite;
}

.content h2:nth-child(1)>span:first-child {
    text-shadow: none;
    color: var(--color-sky-blue);
}

.content h2:nth-child(1)>span:last-child {
    text-shadow: none;
    color: var(--color-pink);
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

.wave img {
    width: 100%;
    height: 100%;
}

.wave .ship-wrapper {
    position: absolute;
    top: 15%;
    left: -20%;
    width: 40%;
    height: 58%;
    animation: move 240s linear infinite;
}

.wave .pirate-img {
    width: 100%;
    height: 100%;
    animation: sway 5s ease-in-out infinite;
    transform-origin: bottom center;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100vw);
    }
}

@keyframes sway {

    0%,
    100% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(5deg);
    }
}

.wave .wave-img-pink {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
}

.emoji-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: absolute;
    width: 30%;
    bottom: 0%;
    left: 45%;
    transform: translateX(-45%);
    z-index: 1;
}

.emoji-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emoji-group .emoji {
    width: 50%;
    height: 50%;
    transition: transform 0.8s ease-in-out;
}

.emoji-group .emoji:hover {
    transform: scale(1.3);
}

.emoji-group .emoji-text {
    font-size: 0.8em;
    color: var(--color-white);
    transition: transform 0.6s ease-in-out;
}

.emoji-group .emoji-text:hover {
    transform: scale(1.3);
    font-weight: bold;
    cursor: default;
}

.header-nav-background {
    background-color: var(--color-header-footer);
    padding-block: 0.25em;
}

.header-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo {
    font-size: 1.8em;
    font-weight: bold;
}

.site-logo a {
    text-decoration: none;
    color: var(--color-sky-blue);
    transition: color 2s;
}

.site-logo a>span:first-child {
    font-weight: 300;
    color: var(--color-pink);
}

.site-logo a>span:last-child {
    display: block;
    line-height: 0;
    font-size: 0.5em;
    font-weight: 100;
    letter-spacing: 0.34em;
    color: var(--color-white);
}

.site-logo a:hover,
.header-nav-background .site-logo:hover,
.header-nav-background .site-logo span:hover {
    color: var(--color-hover);
    cursor: pointer;
}

/* waves */
.ocean {
    height: 35%;
    width: 100%;
    position: absolute;
    bottom: -1%;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.ocean-wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: ocean-wave 60s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
}

.ocean-wave:nth-of-type(2) {
    bottom: 0;
    animation: ocean-wave 40s linear reverse infinite;
    opacity: 0.5;
}

.ocean-wave:nth-of-type(3) {
    bottom: 0;
    animation: ocean-wave 20s -1s linear infinite;
    opacity: 0.5;
}

@keyframes ocean-wave {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 800px) {
    .content h2 {
        font-size: 1.5em;
    }

    .content h2:nth-child(1) {
        text-shadow: 1px 1px var(--color-white);
        -webkit-text-stroke: 1px var(--color-sky-blue);
    }

    .site-header .emoji-wrapper {
        bottom: 5%;
    }

    .site-header .emoji-group .emoji {
        width: 65%;
        height: 65%;
    }

    .site-header .emoji-text {
        display: none;
    }
}