.btn {
    text-decoration: none;
    padding: 0.25em;
    font-size: 2.25em;
    color: var(--color-text);
}

.btn,
.btn>i {
    transition: transform 0.8s ease-in-out;
}

.btn:hover {
    transform: scale(1.3);
    color: var(--color-hover);
}

.btn>i:hover {
    transform: scale(1.3);
    color: var(--color-hover);
}