/* Box sizing rules */
html {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

/* Remove default margin and padding */
* {
    padding: 0;
    margin: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img,
picture {
    display: block;
    width: 100%;
    height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}