@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

html {
    font: 12px/1.5 Roboto, sans-serif;
}

@media (min-width: 600px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 760px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 900px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1400px) {
    html {
        font-size: 18px;
    }
}

body,
table,
input,
button {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: normal;
}

h1 {
    font-size: 3.0em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}