.modal-content,
.modal-content-message,
.modal-content-actions {
    display: flex;
}

.modal-content {
    flex-direction: column;
    gap: 1em;
}

.modal-content-message {
    flex-direction: column;
    gap: 0.1em;
}

.modal-content-actions {
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.input {
    flex: 70%;
    margin: 0 auto;
    border: unset;
    border-bottom: 1px solid var(--color-primary);
    border-radius: 0.5em;
    box-shadow: 0 4px 4px 2px rgb(0, 0, 0, 0.3);
    padding: 0.5em 0.5em;
    background-color: var(--color-input-active);
    transition: background-color 0.3s ease-in-out;
}

.btn.btn-copy {
    cursor: copy;
    flex: 30%;
    font-size: 0.8em;
    font-weight: 500;
    color: var(--color-white);
    background-color: var(--color-header-footer);
    padding: 0.4em 1em;
    border-radius: 0.5em;
    transition: transform 0.3s ease-in-out;
}

.btn.btn-copy:hover {
    transform: scale(1.1);
    color: var(--color-hover);
}