.home {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: 5em;
    background-color: rgb(255, 255, 255, 0.2);
    box-shadow: 0 0 12px 6px rgb(255, 255, 255, 0.5);
    transition: box-shadow 2s, background-color 2s;
    margin-bottom: 2em;
}

.welcome:hover {
    box-shadow: 0 0 16px 16px rgb(255, 255, 255, 0.5), inset 0 0 6px 2px rgba(89, 142, 62, 0.2);
    background-color: rgb(255, 255, 255, 0.4);
}

.welcome-text {
    flex: 60%;
    text-align: center;
    font-weight: bold;
    color: var(--color-text);
    text-decoration: underline;
    cursor: default;
    text-shadow: 3px 3px 6px rgb(0, 0, 0, 0.5);
    transition: text-shadow 2s, transform 2s ease-in-out;
}

.welcome:hover>.welcome-text {
    text-shadow: 6px 6px 4px rgb(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.welcome-text>span:first-child {
    text-decoration: underline;
    color: var(--color-sky-blue);
}

.welcome-text>span:last-child {
    text-decoration: underline;
    font-weight: 400;
    color: var(--color-pink);
}

.welcome-text,
.welcome-text>span:first-child,
.welcome-text>span:last-child {
    text-underline-offset: 0.15em;
    text-decoration-thickness: 2px;
}

.welcome-img-wrapper {
    position: relative;
}

.welcome-image-default,
.welcome-image-on-hover {
    flex: 40%;
}

.welcome-image-on-hover {
    display: none;
}

.welcome-img-wrapper:hover .welcome-image-default {
    display: none;
}

.welcome-img-wrapper:hover .welcome-image-on-hover {
    display: block;
}

.top-rated-memes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-rated-memes>h2 {
    font-weight: bold;
    -webkit-text-fill-color: var(--color-white);
    -webkit-text-stroke: 1px;
    text-shadow: 3px 3px 2px rgb(0, 0, 0, 0.9);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    text-align: center;
    letter-spacing: 2px;
}