.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text);
    overflow: hidden;
    border-radius: 1em;
    box-shadow: 0 6px 12px 4px rgb(0, 0, 0, 0.3);
    margin-bottom: 4em;
}

.card a {
    color: var(--color-text);
    text-decoration: none;
    transition: all 0.8s ease-in-out;
}

.card a:hover {
    color: var(--color-hover);
}

.card-header {
    background: var(--color-sky-blue);
    padding: 0.25em 1em 0.25em 1em;
}

.card-header>h4 {
    margin: 0 0 -0.1em 0;
    font-weight: bold;
}

.card-author-name {
    cursor: default;
    margin-bottom: -0.25em;
}

.card-author-name * {
    margin-left: 0.15em;
}

.card-author-name sup {
    display: inline-block;
    font-size: 0.6em;
    transition: transform 0.3s ease-in-out;
}

.card-author-name sup:hover {
    transform: scale(1.1);
}

.category a:hover,
.card-author-name a:hover,
.card-author-name i:hover {
    display: inline-block;
    color: var(--color-hover);
    transform: scale(1.1);
}

.card-meme-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.card-img-wrapper {
    max-width: 100%;
    height: 70vh;
}

.card-img-wrapper img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.card-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--color-sky-blue);
    padding: 0em 1em;
}


.dislike>i {
    color: var(--color-dark-purple);
}

.favorite>i {
    color: var(--color-pink);
}

.btn-add-comment {
    all: unset;
    cursor: pointer;
}