.form,
.control-comment,
.form-buttons {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.textarea-label {
    display: block;
    visibility: hidden;
}

.textarea {
    display: block;
    width: 80%;
    margin: 0 auto;
    border: unset;
    border-bottom: 1px solid var(--color-sky-blue);
    border-radius: 0.5em;
    box-shadow: 0 2px 4px 1px rgb(0, 0, 0, 0.3);
    padding: 0.5em 0.5em;
    background-color: var(--color-light-gray);
    transition: all 0.5s ease-in-out;
}

.textarea:focus {
    background-color: var(--color-textarea-active);
    box-shadow: inset 0 0 4px 1px var(--color-sky-blue);
}

.textarea.valid,
.textarea.valid:focus {
    border: 2px solid var(--color-green);
}

.textarea.invalid,
.textarea.invalid:focus {
    border: 2px solid var(--color-red);
}

.textarea::placeholder {
    color: var(--color-text);
    font-size: 1.1em;
}

.error-message {
    width: 82%;
    margin: 0 auto;
    margin-bottom: -1.52em;
    font-size: 0.8em;
    font-weight: 500;
    color: var(--color-red);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='15' height='15' fill='none' stroke='%23df382c'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23df382c' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left;
}

.error-message>span {
    display: block;
    margin-left: 1.25em;
}

.form-buttons {
    align-items: center;
}

.form-buttons .btn-edit {
    all: unset;
    cursor: pointer;
    font-weight: 500;
    color: var(--color-white);
    background-color: var(--color-header-footer);
    padding: 0.5em 1.25em;
    border-radius: 0.5em;
    transition: transform 0.8s ease-in-out;
}

.form-buttons .btn-edit:hover {
    transform: scale(1.1);
    color: var(--color-hover);
}

.form-buttons .btn-edit:disabled,
.form-buttons .btn-edit:disabled>i {
    color: var(--color-white);
    background-color: var(--color-body);
    cursor: not-allowed;
}

.form-buttons .btn-edit:hover:disabled {
    transform: scale(1);
}