.login {
    display: flex;
    color: var(--color-text);
    background-color: var(--color-primary);
    box-shadow: 0 6px 12px 4px rgb(0, 0, 0, 0.3);
    border-radius: 1em;
    overflow: hidden;
    border: 1px solid var(--color-primary);
}

/* Left part */
.login-left {
    flex: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: radial-gradient(circle, #0077ea, #1f4f96, #1b2949, #000);
}

.login-left img {
    width: 100%;
    height: 100%;
}

.no-meme {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
    -webkit-text-fill-color: var(--color-white);
    -webkit-text-stroke: 1px;
    text-shadow: 3px 3px 2px rgb(0, 0, 0, 0.9);
    letter-spacing: 2px;
    margin: 0.5em;
}

@media (max-width: 600px) {
    .login {
        flex-direction: column-reverse;
    }
}

/* Right part */
.login-right {
    flex: 45%;
    height: auto;
    padding: 1.5em;
}

.login-right>h1 {
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.form,
.form-buttons,
.control {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    position: relative;
}

.control i {
    position: absolute;
    top: 59%;
    left: 10%;
}

.control.username,
.control.email {
    display: flex;
}

.control i.switch-login,
.control i.icon-password.active {
    display: block;
    left: 85%;
    cursor: pointer;
}

.control.exchanged,
.control i.switch-login.exchanged,
.control i.icon-password {
    display: none;
}

.error-message {
    width: 85%;
    margin: 0 auto;
    margin-bottom: -1.8em;
    font-size: 0.8em;
    font-weight: 500;
    color: var(--color-red);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='15' height='15' fill='none' stroke='%23df382c'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23df382c' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left;
}

.error-message>span {
    display: block;
    margin-left: 1.25em;
}

.label {
    visibility: hidden;
}

.input {
    width: 80%;
    margin: 0 auto;
    text-indent: 1.5em;
    border: unset;
    border-bottom: 1px solid var(--color-primary);
    border-radius: 0.5em;
    box-shadow: 0 4px 4px 2px rgb(0, 0, 0, 0.3);
    padding: 0.25em 0.5em;
    background-color: var(--color-light-gray);
    transition: background-color 0.3s ease-in-out;
}

.input:focus {
    background-color: var(--color-input-active);
    box-shadow: inset 0 0 0 1px var(--color-primary);
}

.input.valid,
.input.valid:focus {
    border: 2px solid var(--color-green);
}

.input.invalid,
.input.invalid:focus {
    border: 2px solid var(--color-red);
}

.input::placeholder {
    color: var(--color-text);
    font-size: 0.8em;
}

.form-buttons {
    margin-top: 2em;
    align-items: center;
    display: flex;
}

.btn.btn-login {
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-header-footer);
    padding: 0.5em 2em;
    border-radius: 0.5em;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 1em;
}

.btn.btn-link {
    all: unset;
    cursor: pointer;
    color: var(--color-text);
    font-size: 0.8em;
    transition: transform 0.3s ease-in-out;
}

.btn.btn-login:disabled {
    background-color: var(--color-body);
}

.btn.btn-link:hover,
.btn.btn-login:hover:not(:disabled) {
    transform: scale(1.1);
    color: var(--color-hover);
}