.all-comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text);
    background-color: var(--color-light-gray);
    border: 2px solid var(--color-primary);
    box-shadow: 0 6px 12px 4px rgb(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 1em;
}

.comments-wrapper-heading {
    text-align: center;
    background-color: var(--color-primary);
}

.comments-wrapper-heading h3 {
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0.1em;
}

.comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.25em 0.25em 0 0.25em;
    margin: 0.5em 1em;
    border-bottom: 1px solid var(--color-primary);
}

.comment-author-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.comment-author {
    font-size: 1.1em;
    font-weight: 500;
}

.comment-buttons {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.btn-add-new-comment {
    all: unset;
    cursor: pointer;
}

.comment-author a,
.comment-author a>i {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text);
    transition: all 0.8s;
}

.comment-author a:hover,
.comment-author a>i:hover {
    color: var(--color-hover);
    transform: scale(1.2);
}

.comment-author a>i:hover {
    transform: scale(1.3);
}

.comment-buttons .comment-edit,
.comment-buttons .comment-delete {
    all: unset;
    cursor: pointer;
    padding-inline: 0.25em;
}

.comment-time {
    font-size: 0.9em;
    cursor: default;
}

.comment-time sup {
    display: inline-block;
    font-size: 0.6em;
    margin-left: 0.25em;
    transition: transform 0.3s ease-in-out;
}

.comment-time sup:hover {
    transform: scale(1.2);
}

.comment-text {
    font-size: 1.25em;
}

.no-comments,
.no-comments i {
    font-size: 1.5em;
}

.no-comments {
    text-align: center;
    font-weight: bold;
    padding: 1em;
    background-color: var(--color-input-active);
}

.no-comments i {
    color: var(--color-primary);
    transition: all 0.8s ease-in-out;
}

.no-comments i:hover {
    color: var(--color-hover);
    transform: scale(1.3);
}