body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-body);
    background: url('/assets/background.svg') no-repeat;
    background-size: cover;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding-inline: 1em;
}

.max-width {
    max-width: 900px;
    margin: 0 auto;
}

.site-main-background-wrapper {
    padding: 4em 6em;
    background-color: rgb(255, 255, 255,0.3);   
}

@media (max-width: 600px) {
    .site-main-background-wrapper {
        padding: 4em 0em;
        background-color: initial;
    }
}